<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="simplytextile.policytracker">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".AppController"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activties.SignupActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activties.LoginActivity">

        </activity>
        <activity android:name=".activties.HomeActivity" >

        </activity>
        <activity android:name=".activties.CustomerActivity" />
        <activity android:name=".activties.CompaniesActivity" />
        <activity android:name=".activties.PoliciesActivity" />
        <activity android:name=".activties.NotificationActivity" />
        <activity android:name=".activties.AddCompanyActivity" />
        <activity android:name=".activties.UserProfileActivity" />
        <activity android:name=".activties.UpdateUserProfileActivity" />
        <activity android:name=".activties.AgentsListActivity" />
        <activity android:name=".activties.AddAgentActivity"></activity>
    </application>

</manifest>